*
{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body
{
    /* font-family: "Malgun Gothic", "맑은 고딕","맑은고딕","굴림", "Gulim", "Arial"; */
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #E7E0C9;
}
.ranking-Area
{
    width:400px;
    height:150px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    /* background-color: #CDBBA7; */
}

.second-Area
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width:90px;
    /* height:70px; */
    height:120px;

}
#r2Text
{
    width:100%;
    height:50px;
    background-color: black;  
}
.box2
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D8A7B1;
    width:100%;
    height:70px;
}
.box2 p
{
    font-size: 50px;
    font-weight: bold;
}


.first-Area
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    width:90px;
    /* height:100px; */
    height:150px;

}
#r1Text
{
    width:100%;
    height:50px;
    background-color: black;  
}
.box1
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EF7C8E;
    width:100%;
    height:100px;
}
.box1 p
{
    font-size: 70px;
    font-weight: bold;
}
.third-Area
{
    width:90px;
    /* height:50px; */
    height:100px;

}
#r3Text
{
    width:100%;
    height:50px;
    background-color: black;  
}
.box3
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #B6E2D3;
    width:100%;
    height:50px;
}
.box3 p
{
    font-size: 40px;
    font-weight: bold;
}
.container
{
    width:600px;
    height:600px;
    border-radius: 50px;
    background-color: #F4DFD0;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
}
.result-Area
{
    height:15%;
    background-color: #F4DFD0;
    border-radius: 50px 50px 0 0 ;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#resultText
{
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    color:#ffff;
    text-shadow: 0px 5px 0px rgba(0,0,0,0.5);

}
.number-Area
{
    height:70%;
    background-color: #F4DFD0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: 1s;
}
#numberText
{
    font-size: 250px;
    font-weight: bold;
    text-align: center;
    color:#DAD0C2;
    /* text-shadow: 8.5px 0.5px 0px rgba(0,0,0,0.2); */
    text-shadow: 0px 10px 0px rgba(0,0,0,0.2);
}
.record-Area
{
    height:15%;
    background-color: #CDBBA7;
    border-radius: 0 0 50px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#recordText
{
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    color:#ffff;
    text-shadow: 0px 5px 0px rgba(0,0,0,0.2);

}
